extends layout

block content
  p Hello!
  p I’m nameless project made by two MSc students - Igor Suleymanov and Elena Bondarenko.
  p
  i What do I do?
  p I collect data from temperature and pressure sensors, store them in Redis and provide user an interface to watch the data on my fancy pages.

  p I was made up using:
  ul
    li Hardware:

    li Software:
      ul
        li Raspbian OS
        li C library for getting data from sensors
        li Python daemon are running every 10 seconds (configurable), getting data from sensors and writing it to Redis
        li Redis (open source, BSD licensed, advanced key-value cache and store)
        li Node.js webserver
        li Semantic UI


